<h1>Création d'une nouvelle curiosité</h1>
<%= form_for :curiosity, url: curiosities_path do |c| %>

    <%= render partial: 'form', locals: { c: c } %>

    <%= c.submit 'Créer la curiosité', class: 'btn btn-default' %>
<% end %>